.title-section-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2%;
  margin-bottom: 3%;
}

%base-text-styles {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.text-black {
  @extend %base-text-styles;
  color: #161616;
}

.text-white {
  @extend %base-text-styles;
  color: #ffffff;
}
