<div class="home-conteiner">
  <app-header> </app-header>
  <div class="content-page">
    <app-banner></app-banner>
    <div class="news-container">
      <div class="left-column-conteiner">
        <app-destaques></app-destaques>
        <app-marketing-three-cards></app-marketing-three-cards>
        <p-divider></p-divider>
        <app-ranking></app-ranking>
        <app-emphasi-card-red></app-emphasi-card-red>
      </div>
      <div class="right-column-conteiner">
        <p>teste</p>
      </div>
    </div>
  </div>
</div>
